<style>
  <% LocationCategory.all.each do |category| %>
    <% category_slug = category.name.parameterize %>
    .category-menu-option-<%= category_slug %> .category-menu-option-image {
      background-image: url('<%= asset_url("/assets/icons/#{ category_slug }") %>');
    }
  <% end %>
</style>
<div id="map" class="map"></div>
<div id="overlord" class="overlord">
  <div class="category-menu" class="category-menu">
    <div class="category-menu-background"></div>
    <div class="category-menu-foreground">
      <div class="clearfix">
        <% LocationCategory.all.each do |category| %>
          <div class="category-menu-option<%= " category-menu-option-active" if category.default_active? %> category-menu-option-<%= category.name.parameterize %> js-category-menu-option" data-id="<%= category.id %>">
            <div class="category-menu-option-image"></div>
            <div class="category-menu-option-name"><%= category.name %></div>
          </div>
        <% end %>
      </div>
      <div class="category-menu-close js-category-menu-close"><i class="fa fa-times"></i> Close</div>
    </div>
  </div>
  <div class="map-menu" class="map-menu">
    <div class="list-button js-category-menu-open" style="background-image: url('<%= asset_url("icons/menu.png") %>')"></div>
    <div class="map-landmark">
      <div class="map-landmark-image js-map-landmark-image"></div>
      <div class="map-landmark-details">
        <div class="map-landmark-description">Locate and start from...</div>
        <div class="map-landmark-name js-map-landmark-name"></div>
        <div class="map-landmark-address js-map-landmark-address">123123123123</div>
      </div>
    </div>
    <div class="map-chat">
      <div class="map-chat-image" style="background-image: url('<%= asset_url("icons/chat.png") %>');"></div>
      <div class="map-chat-details">
        <div class="map-chat-description">Need help?</div>
        <div class="map-chat-name">Text Vivian at...</div>
        <div class="map-chat-address">1-619-357-4363</div>
      </div>
    </div>
  </div>
  <div id="location-menu" class="location-menu" data-id="0">
    <div class="location-menu-close js-location-menu-close"><i class="fa fa-times"></i></div>
    <div class="location-menu-scrollable">
      <div class="location-menu-details">
        <div class="location-menu-details-background"></div>
        <div class="location-menu-details-foreground">
          <div class="location-menu-details-name js-location-menu-name"></div>
          <div class="location-menu-details-type js-location-menu-type"></div>
          <div class="location-menu-details-hours js-location-menu-hours"></div>
          <div class="location-menu-details-notes js-location-menu-notes"></div>
        </div>
      </div>
      <div class="location-menu-tags">
        <div class="location-menu-tag location-menu-tag-pink">LGBT Friendly</div>
        <div class="location-menu-tag location-menu-tag-blue">Family Focused</div>
        <div class="location-menu-tag location-menu-tag-yellow">Free WiFi</div>
        <div class="location-menu-tag location-menu-tag-green">Phone Charger</div>
        <div class="location-menu-tag location-menu-tag-purple">Air Conditioned</div>
        <div class="location-menu-tag location-menu-tag-red">Dog Friendly</div>
      </div>
      <div class="location-menu-comments">
        <% 10.times do %>
          <div class="location-menu-comment">
            <div class="location-menu-comment-user">
              Kevin
            </div>
            <div class="location-menu-comment-text">
              This place was really good. I got some food and was able to charge my phone. The WiFi is a plus also. If nothing else, come for the A/C.
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="location-menu-actions">
      <div class="location-menu-action-directions">
        <div class="location-menu-action-button js-location-menu-action-button-directions">
          <div class="location-menu-action-button-icon"></div>
          <div class="location-menu-action-button-text">
            <div class="location-menu-action-button-title">
              Get Directions
            </div>
            <div class="location-menu-action-button-info">
              7 Minute Walk
            </div>
          </div>
        </div>
      </div>
      <div class="location-menu-action-call js-location-menu-action-call">
        <div class="location-menu-action-button">
          <div class="location-menu-action-button-icon"></div>
          <div class="location-menu-action-button-text">
            <div class="location-menu-action-button-title">
              Call
            </div>
            <div class="location-menu-action-button-info js-location-menu-phone-number">
              123-1234-2323
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var initMap = function() {
    new App.Overlord();
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1wFtbutINKafi93NOU5SQhrth8VzxBqY&callback=initMap" async defer></script>
